.character {
    background: #fff;
    border-radius: 2px;
    height: 260px;
    position: relative;
    width: 250px;
    text-align: left;
    border: 2px solid black;
    margin: 5px;
}

.image {
    height: 250px;
    width: auto;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto 
  }