.character {
    background: #fff;
    border-radius: 2px;
    height: 175px;
    position: relative;
    width: 175px;
    text-align: left;
    border: 2px solid black;
    margin-top: 10px;
    float: left;
    margin-left: 50px;
}

.image {
    height: 170px;
    width: auto;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto 
  }